/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

:root {
  --background-color: #f5c51d;
  --position: relative;
  --font-size: 16px;
  --padding: 100px;
  --color: white;
  --title_h1: 30px;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

.personal {
  background-color: var(--background-color);
  position: var(--position);
}

.personal_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* resume > 履歷資訊 */
.resume {
  margin: 100px;
  padding: 40px;
  max-width: 960px;
  border: 2px solid white;
  display: flex;
  position: var(--position);
  box-shadow: 20px 20px 0px 0px #0000003d;
  background-color: var(--background-color);
}

/* personal_information > 個人資訊 */

/* personal_information */
.personal_information {
  flex: 0 0 50%;
  max-width: 50%;
  border-right: 2px solid white;
  border-style: dashed;
}

.personal_information::before {
}

.personal_information_img {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

.personal_information_img img {
  width: 80%;
  height: 80%;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* personal_experience > 個人經歷 */
.personal_experience {
  flex: 0 0 50%;
  max-width: 50%;
}

.name h1 {
  font-size: var(--title_h1);
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* work */
.work {
  position: var(--position);
}

.work_contwnt {
  margin: 40px auto;
}

.work_contwnt ul {
  display: flex;
  flex-wrap: wrap;
}

.work_contwnt ul li {
  margin-right: 10px;
  margin: 10px;
  padding: 10px;
  color: black;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* Code */
.Code {
  position: var(--position);
}

.Code_content {
  margin: 40px auto;
}

.Code_content h1 {
  font-size: var(--title_h1);
}

.Code_content ul {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
}

.Code_content ul li {
  margin: 14px 14px 0 0;
  line-height: 2;
}

.Code_content ul li .chart {
  border: 1px solid white;
  padding: 2px;
  border-style: dashed;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.Code_content ul li .chart span {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Code_content ul li .chart span::before {
  content: "";
  width: 50px;
  height: 50px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 444;
  border-top: 10px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;
  border-bottom: 10px solid #f5c51d;
  border-radius: 50%;
  -webkit-border-radius: 10px solid #f5c51d;
  -moz-border-radius: 10px solid #f5c51d;
  -ms-border-radius: 10px solid #f5c51d;
  -o-border-radius: 10px solid #f5c51d;
  animation: chart_move 2s ease-out;
  -webkit-animation: chart_move 2s ease-out;
}

.Code_content ul li:nth-child(1) .chart span::before {
  border-top: 10px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;
  border-bottom: 10px solid #f5c51d;
}

.Code_content ul li:nth-child(2) .chart span::before {
  border-top: 10px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;
  border-bottom: 10px solid #f5c51d;
}

.Code_content ul li:nth-child(3) .chart span::before {
  border-top: 10px solid black;
  border-left: 10px solid #f5c51d;
  border-right: 10px solid #f5c51d;
  border-bottom: 10px solid #f5c51d;
}

.Code_content ul li:nth-child(4) .chart span::before {
  border-top: 10px solid black;
  border-left: 10px solid black;
  border-right: 10px solid #f5c51d;
  border-bottom: 10px solid #f5c51d;
}

.Code_content ul li:nth-child(5) .chart span::before {
  border-top: 10px solid black;
  border-left: 10px solid #f5c51d;
  border-right: 10px solid #f5c51d;
  border-bottom: 10px solid #f5c51d;
}

.Code_content ul li:hover .chart span::before {
  display: block;
}

@keyframes chart_move {
  0% {
    opacity: 0;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.Code_content ul li .chart span::after {
  content: "";
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border: 10px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.Code_content ul li .chart span i {
  font-size: 10px;
}

.Code_content ul li p {
  text-align: center;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* personal_experience > 個人經歷 */

/* tool */
.tool {
  position: var(--position);
  padding-left: 60px;
}

.tool_contwnt {
  margin: 40px auto;
}

.tool_content h1 {
  font-size: var(--title_h1);
}

.tool_content ul {
  margin: 40px auto;
}

.tool_content ul {
  margin: 40px auto;
}

.tool_content ul li {
  line-height: 2;
}

.tool_content ul li span {
  width: 100%;
  height: 20px;
  display: inline-block;
  position: relative;
}

.tool_content ul li span::before {
  content: "";
  width: 0;
  height: 20px;
  display: inline-block;
  position: absolute;
  z-index: 4444;
  background-color: black;
  transition: 1s ease-out;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.tool_content ul li:hover span::before {
  width: 100%;
}

.tool_content ul li:nth-child(1):hover span::before {
  width: 35%;
}

.tool_content ul li:nth-child(2):hover span::before {
  width: 85%;
}

.tool_content ul li:nth-child(3):hover span::before {
  width: 85%;
}

.tool_content ul li:nth-child(4):hover span::before {
  width: 35%;
}

.tool_content ul li span::after {
  content: "";
  width: 100%;
  height: 20px;
  display: inline-block;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* work_experience */
.work_experience {
  position: var(--position);
  padding-left: 60px;
}

.work_experience_content {
  margin: 40px auto;
}

.work_experience_content h1 {
  font-size: var(--title_h1);
}

.work_experience_content ul {
  margin: 40px auto;
}

.work_experience_content ul li {
  margin: 14px 14px 0 0;
  line-height: 2;
  display: flex;
  flex-wrap: wrap;
}

.work_experience_content ul li p {
  color:  black;
}

.work_experience_content ul li p::after {
  content: "";
  border: 1px solid white;
  border-style: dashed;
  margin: 0 20px;
}

.work_experience_content ul li span {
  width: 100%;
  margin-left: 20px;
}

.work_experience_content ul li p {
  width: 100%;
}

.work_experience_content ul li p i {
  margin-left: 20px;
}
