/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

:root {
  background-color: #f5c51d;
  position: relative;
  font-size: 16px;
  padding: 100px;
  color: white;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

.personal {
  background-color: var(--background-color);
  position: var(--position);
}

.personal_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* resume > 履歷資訊 */
.resume {
  padding: 40px;
  border: 2px solid white;
  display: flex;
  position: var(--position);
}

.personal_information {
  flex: 0 0 50%;
  max-width: 50%;
}

.personal_information_img {
  display: flex;
  justify-content: center;
  background-color: #f5c51d;
}

.personal_information_img img {
  width: 80%;
  height: 80%;
}

/* personal_experience > 個人經歷 */
.personal_experience {
  flex: 0 0 50%;
  max-width: 50%;
}

.name h1 {
  font-size: 3vw;
}

/* work */
.work {
  position: var(--position);
}

.work_contwnt {
  margin: 40px auto;
}

.work_contwnt ul {
  display: flex;
}

.work_contwnt ul li {
  margin-right: 10px;
  padding: 10px;
  color: black;
  background-color: white;
}

/* Code */
.Code {
  position: var(--position);
}

.Code_contwnt {
  margin: 40px auto;
}

.Code_contwnt h2 {
  font-size: 3vw;
}

.Code_contwnt ul {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
}

.Code_contwnt ul li {
  flex: 0 0 45%;
  max-width: 50%;
  margin: 10px 4px;
  text-align: center;
}

.Code_contwnt ul li .chart {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.Code_contwnt ul li .chart span {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
}

.Code_contwnt ul li .chart span::before {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 10px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Code_contwnt ul li .chart span::after {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border: 10px solid #f5c51d;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

.Code_contwnt ul li:hover .chart span::before {
    
}
